<div class="carrito-page">
  <div class="container" *ngIf="cart.length==0">
    <div class="row">
      <div class="col-12">
        <div class="container-cart-vacio">
          <div class="icon-cart-vacio">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
          </div>
          <h6>
            Su carrito de compras está vacío.
          </h6>
          <button [routerLink]="['/']">
            <i class="fa fa-caret-left" aria-hidden="true"></i>
            REGRESAR A COMPRAR</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container" *ngIf="cart.length > 0">
    <div class="row">
      <div class="col-12">
        <h1>CARRITO DE COMPRAS</h1>
      </div>
    </div>
    <div class="row">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">&nbsp;</th>
              <th scope="col">PRODUCTO</th>
              <th scope="col">PRECIO UNITARIO</th>
              <th scope="col">CANTIDAD</th>
              <th scope="col">SUBTOTAL</th>
              <th scope="col">&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let producto of cart;index as i">
              <th scope="row">
                <a *ngIf="producto.images.length > 0" [routerLink]="['/producto/'+producto.username]">
                  <img [src]="producto.images[0]">
                </a>
              </th>
              <td>{{producto.name}}</td>
              <td>
                <strong>
                  <span>S/</span>{{ producto.priceNow | fixedTwo }}</strong>
              </td>
              <td>
                <!-- <input type="number" min="1" [(ngModel)]="producto.cantidad"> -->
                <input-cart-component [cantidad]="producto.cantidad" (cambio)="cambio($event,i)"></input-cart-component>
              </td>
              <td>
                <strong>
                  <span>S/</span>{{ producto.priceNow*producto.cantidad | fixedTwo }}</strong>
              </td>
              <td>
                <i (click)="delete(i)" class="fa fa-trash" aria-hidden="true"></i>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="50">
                <div class="container-btns">
                  <button class="btn-sc" [routerLink]="['/']">CONTINUAR COMPRANDO</button>
                  <button class="btn-lc" (click)="deleteAll()">LIMPIAR CARRITO</button>
                </div>
              </td>
            </tr>
            <!-- <tr>
                            <td>&nbsp;</td>
                        </tr> -->
          </tfoot>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="offset-sm-6 col-sm-6 offset-lg-8 col-lg-4 info">
        <h6>TOTAL GENERAL</h6>
        <hr>
        <div class="info-total">
          <div class="subtotal">
            <span>Subtotal</span>
            <span>S/{{total | fixedTwo}}</span>
          </div>
          <div class="total">
            <span>Total</span>
            <span>S/{{total | fixedTwo}}</span>
          </div>
          <button class="btn-block" (click)="goToCheckout()">
            <i class="fa fa-check" aria-hidden="true"></i>
            REALIZAR PEDIDO
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<items-right-component></items-right-component>
<footer-component></footer-component>
